/* | Purpose                 | Color          | HEX       |
| ----------------------- | -------------- | --------- |
| 🖤 Main background      | Deep Black     | `#080808` |
| 🖤 Secondary background | Charcoal       | `#111111` |
| ⬛ Card background       | Dark Gray      | `#161616` |
| 🟡 Main gold/yellow     | Olympia Gold   | `#FFC400` |
| 🟨 Bright gold          | Highlight Gold | `#FFD21A` |
| 🟠 Dark gold            | Shadow Gold    | `#D99F00` |
| ⚪ Main text             | White          | `#FFFFFF` |
| ◻️ Secondary text       | Light Gray     | `#D0D0D0` |
| 🌑 Muted text           | Gray           | `#858585` |
| 🔲 Borders              | Dark Border    | `#292929` | */

@font-face {
    font-family: "Vazirmatn";
    src: url("fonts/Vazirmatn-Thin.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Vazirmatn";
    src: url("fonts/Vazirmatn-ExtraLight.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Vazirmatn";
    src: url("fonts/woff2/Vazirmatn-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Vazirmatn";
    src: url("fonts/woff2/Vazirmatn-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Vazirmatn";
    src: url("fonts/woff2/Vazirmatn-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Vazirmatn";
    src: url("fonts/woff2/Vazirmatn-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Vazirmatn";
    src: url("fonts/woff2/Vazirmatn-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Vazirmatn";
    src: url("fonts/woff2/Vazirmatn-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Vazirmatn";
    src: url("fonts/woff2/Vazirmatn-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Vazirmatn FD";
    src: url("fonts/FD/Vazirmatn-FD-Light.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Vazirmatn FD";
    src: url("fonts/FD/Vazirmatn-FD-Bold.woff2") format("woff2");
    font-weight: 700;
}

:root {
    --black: #080808;
    --dark: #111111;
    --card: #161616;
    --gold: #FFC400;
    --gold-light: #FFD21A;
    --gold-dark: #D99F00;
    --white: #FFFFFF;
    --text-gray: #D0D0D0;
    --muted: #858585;
    --border: #292929;
}



* {
    font-family: "Vazirmatn", sans-serif;
    color: var(--white);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: var(--black);

}


nav {
    width: 100%;
    padding: 8px 1%;
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}


.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 80px;
    height: 48px;
    object-fit: contain;
}


.nav-links {
    list-style: none;

    display: flex;
    align-items: center;
    gap: 29px;

    margin: 0 auto;
    padding: 0;
}

.nav-links li a {
    color: var(--white);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}


.nav-links li a.active {
    text-decoration: underline var(--gold-light);
    text-decoration-thickness: 2px;
    text-underline-offset: 12px;
}


.btns {
    display: flex;
    align-items: center;
}

.btn {
    padding: 11px 24px;

    border: none;
    border-radius: 5px;

    background-color: var(--gold);
    color: var(--dark);

    font-family: 'Vazirmatn', sans-serif;
    font-size: 14px;
    font-weight: 900;
    cursor: pointer;
}

.slider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.slider img {
    width: 100%;
    height: 800px;
}

.con {
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.container {
    border-radius: 15px;
    background-color: var(--dark);
    width: 900px;
    height: 390px;
    border: 1px solid var(--gold);
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.result-icon img {
    width: 200px;
    height: 201px;
    object-fit: contain;
}

h2 {
    font-family: 'Vazirmatn', sans-serif;
    font-size: 28px;
    margin: 20px 0;
}

p {
    font-family: 'Vazirmatn', sans-serif;
    font-weight: 100;
    font-size: 15px;
    margin-top: 5px;
}

.section {
    font-family: 'Vazirmatn', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
    padding-left: 30px;
    padding-right: 30px;
}

.image {
    width: 650px;
    height: 450px;
    background-color: var(--dark);
    border: var(--gold) solid 1px;
    border-radius: 15px;
}

.image img {
    border-radius: 15px;
    width: 100%;
    height: 100%;
}


.pricing {
    width: 95%;

    margin: auto;
}


.pricing-container {
    display: flex;

    justify-content: space-between;

    gap: 15px;
}


.price-card {
    width: 33.33%;

    min-height: 280px;

    display: flex;

    flex-direction: column;

    align-items: center;

    background-color: var(--dark);

    border: 1px solid var(#292929);

    border-radius: 6px;

    padding: 15px;
}


.price-card h2 {
    font-size: 25px;

    font-weight: 700;

    margin: 5px 0 10px;
}


.price-card h3 {
    font-family: "Vazirmatn FD" ,sans-serif;
    color:var(--white);

    font-size: 25px;

    font-weight: 900;

    margin: 0;
}


.price-card > p {
    color:var(--muted);

    font-size: 10px;

    margin: 0 0 10px;
}


.price-card ul {
    width: 100%;

    padding: 0;

    margin: 5px 0 15px;

    list-style: none;

    text-align: right;
}


.price-card li {
    color:var(--text-gray);

    font-size: 11px;

    margin-bottom: 7px;
}


.price-card button {
    width: 90%;

    margin-top: auto;

    padding: 10px;

    background-color:var(--gold);

    color: var(--black);

    border: none;

    border-radius: 7px;

    font-family: "Vazirmatn";

    font-size: 12px;

    font-weight: 700;

    cursor: pointer;
}

.section-title{
    text-align: center;
}


.footers{
    width: 100%;
    height: 240px;
    display: flex;
    border-top: var(--gold) 1px solid;
    justify-content: flex-start;
    align-items: center;
}


.footer-line{
    border: var(--gold) 1px solid;
    width: 100%;
    height: 1px;
}

.f-logo{
    display: flex;
    align-items: center;
}
.f-logo img{
    margin-right: 10PX;
    width: 150px;
    height: 150px;
}

.footer-section{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 110px;
}

.footer-section a{
    text-decoration: none;
    font-weight: 100;
}






